<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Box</title>
</head>
<body>
    <h1 id="head">NBA TEAM</h1>
    <form action="/details"  method="post">
        <select name="team">
            <option value="select Any Country">select Any Country</option>
            <option value="MIA">MIA</option>
            <option value="PHI">PHI</option>
            <option value="MIL">MIL</option>
            <option value="BOS">BOS</option>
            <option value="CHI">CHI</option>
            <option value="TOR">TOR</option>
            <option value="CLE">CLE</option>
            <option value="BRK">BRK</option>
            <option value="CHO">CHO</option>
            <option value="ATL">ATL</option>
            <option value="NYK">NYK</option>
            <option value="WAS">WAS</option>
            <option value="IND">IND</option>
            <option value="DET">DET</option>
            <option value="ORL">ORL</option>
            <option value="PHO">PHO</option>
            <option value="MEM">MEM</option>
            <option value="GSW">GSW</option>
            <option value="DAL">DAL</option>
            <option value="UTA">UTA</option>
            <option value="DEN">DEN</option>
            <option value="MIN">MIN</option>
            <option value="LAC">LAC</option>
            <option value="NOP">NOP</option>
            <option value="LAL">LAL</option>
            <option value="SAS">SAS</option>
            <option value="POR">POR</option>
            <option value="SAC">SAC</option>
            <option value="OKC">OKC</option>
            <option value="HOU">HOU</option>
        </select>
        <input type="submit" value="check details">
    </form>
</body>
</html>